/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-sq-lg {
  width: 300px !important;
  height: 300px !important;
  margin: 5px;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.page-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
}

.page-header-small {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}

.section-header {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 65px;
}

.container {
  height: 100%;
}

.tile {
  text-align: center;
}