<div class="page-header" ng-if="home.showTiles">Manage Your Home</div>
<section class="section container-fluid" style="background-color: white; padding-top: 15px">
    <div class="container" style="width: 1000px">
        <div>
            <span><h4>House Health: </h4></span><uib-progressbar animate="false" value="66" type="warning" style="width:100%"><b>66%</b></uib-progressbar>
        </div>
        <div class="row" ng-if="home.showTiles">
            <div class="col-lg-12">
                <p>
                    <span ng-repeat="tile in home.tiles">
                        <home-tile name="tile.name" image="tile.img" score="tile.score" status="tile.status" ng-click="home.showTiles = false" class="tile"></home-tile>
                    </span>
                </p>
            </div>
        </div>
        <div ui-view></div>
    </div>
</section>