<section class="section container-fluid" style="background-color: white; padding-top: 15px">
    <div class="container" style="width: 1000px">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a class="btn btn-sq-lg btn-primary" ui-sref="profile">
                        <img src=""></img><br/>
                        Profile
                    </a>
                    <a class="btn btn-sq-lg btn-primary" ui-sref="home">
                        <img src="images/House.png"></img><br/>
                        Home
                    </a>
                    <a class="btn btn-sq-lg btn-primary" ui-sref="auto">
                        <img src="images/Car.png"></img><br/>
                        Auto
                    </a>
                    <a class="btn btn-sq-lg btn-primary">
                        <img src="images/Boat.png"></img><br/>
                        Boat
                    </a>
                    <a class="btn btn-sq-lg btn-primary">
                        <img src=""></img><br/>
                        Manual Service
                    </a>
                </p>
            </div>
        </div>
        <div ui-view></div>
    </div>
</section>